In [103]:
import pandas as pd
df=pd.read_csv("credit_risk.csv")

In [104]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

In [106]:
df.isna().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [107]:
df["person_emp_length"]=df["person_emp_length"].fillna(df["person_emp_length"].median())
df["loan_int_rate"]=df["loan_int_rate"].fillna(df["person_emp_length"].median())

In [108]:
df.isna().sum().sum()

0

In [109]:
from sklearn.preprocessing import OneHotEncoder

In [110]:
oe=OneHotEncoder(sparse_output=False)

In [111]:
encoded=oe.fit_transform(df[["person_home_ownership","loan_intent","cb_person_default_on_file"]])
encoded_col=oe.get_feature_names_out(["person_home_ownership","loan_intent","cb_person_default_on_file"])
encoded_df = pd.DataFrame(encoded, columns=encoded_col, index=df.index)
df2=pd.concat([df.drop(columns=["person_home_ownership","loan_intent","cb_person_default_on_file"]),encoded_df],axis=1)

In [112]:
import numpy as np
median_val = df["person_emp_length"].median()
df2["person_emp_length"] = df["person_emp_length"].apply(
    lambda x: median_val if x > 50 else x
)

In [113]:
df2.head()

,person_age,person_income,person_emp_length,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_MORTGAGE,...,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_DEBTCONSOLIDATION,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,cb_person_default_on_file_N,cb_person_default_on_file_Y
0,22,59000,4.0,D,35000,16.02,1,0.59,3,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,21,9600,5.0,B,1000,11.14,0,0.10,2,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,25,9600,1.0,C,5500,12.87,1,0.57,3,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,23,65500,4.0,C,35000,15.23,1,0.53,2,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,24,54400,8.0,C,35000,14.27,1,0.55,4,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [114]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      32581 non-null  int64
 1   person_income                   32581 non-null  int64
 2   person_emp_length               32581 non-null  float64
 3   loan_grade                      32581 non-null  object
 4   loan_amnt                       32581 non-null  int64
 5   loan_int_rate                   32581 non-null  float64
 6   loan_status                     32581 non-null  int64
 7   loan_percent_income             32581 non-null  float64
 8   cb_person_cred_hist_length      32581 non-null  int64
 9   person_home_ownership_MORTGAGE  32581 non-null  float64
 10  person_home_ownership_OTHER     32581 non-null  float64
 11  person_home_ownership_OWN       32581 non-null  float64
 12  person_home_ownership_RENT      32581 non-null  float64
 13  loan_intent_DEBTCONSOLIDATION   32581 non-null  float64
 14  loan_intent_EDUCATION           32581 non-null  float64
 15  loan_intent_HOMEIMPROVEMENT     32581 non-null  float64
 16  loan_intent_MEDICAL             32581 non-null  float64
 17  loan_intent_PERSONAL            32581 non-null  float64
 18  loan_intent_VENTURE             32581 non-null  float64
 19  cb_person_default_on_file_N     32581 non-null  float64
 20  cb_person_default_on_file_Y     32581 non-null  float64
dtypes: float64(15), int64(5), object(1)
memory usage: 5.2+ MB

In [115]:
from sklearn.preprocessing import LabelEncoder

In [116]:
le=LabelEncoder()

In [117]:
df2["loan_grade_encoded"]=le.fit_transform(df["loan_grade"])

In [118]:
df2.head()

,person_age,person_income,person_emp_length,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_MORTGAGE,...,person_home_ownership_RENT,loan_intent_DEBTCONSOLIDATION,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,cb_person_default_on_file_N,cb_person_default_on_file_Y,loan_grade_encoded
0,22,59000,4.0,D,35000,16.02,1,0.59,3,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,3
1,21,9600,5.0,B,1000,11.14,0,0.10,2,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1
2,25,9600,1.0,C,5500,12.87,1,0.57,3,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2
3,23,65500,4.0,C,35000,15.23,1,0.53,2,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2
4,24,54400,8.0,C,35000,14.27,1,0.55,4,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2

In [119]:
df2["age_group"]='notavail'

In [120]:
df2["age_group"] = df["person_age"].apply(
    lambda x: "Young" if x < 25 else ("Adult" if x < 45 else "Senior")
)

In [121]:
df2.isna().sum()

person_age                        0
person_income                     0
person_emp_length                 0
loan_grade                        0
loan_amnt                         0
loan_int_rate                     0
loan_status                       0
loan_percent_income               0
cb_person_cred_hist_length        0
person_home_ownership_MORTGAGE    0
person_home_ownership_OTHER       0
person_home_ownership_OWN         0
person_home_ownership_RENT        0
loan_intent_DEBTCONSOLIDATION     0
loan_intent_EDUCATION             0
loan_intent_HOMEIMPROVEMENT       0
loan_intent_MEDICAL               0
loan_intent_PERSONAL              0
loan_intent_VENTURE               0
cb_person_default_on_file_N       0
cb_person_default_on_file_Y       0
loan_grade_encoded                0
age_group                         0
dtype: int64

In [122]:
df2=df2.drop(columns="loan_grade")

In [123]:
df2.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_MORTGAGE,person_home_ownership_OTHER,...,loan_intent_DEBTCONSOLIDATION,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,cb_person_default_on_file_N,cb_person_default_on_file_Y,loan_grade_encoded,age_group
0,22,59000,4.0,35000,16.02,1,0.59,3,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,3,Young
1,21,9600,5.0,1000,11.14,0,0.10,2,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,Young
2,25,9600,1.0,5500,12.87,1,0.57,3,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2,Adult
3,23,65500,4.0,35000,15.23,1,0.53,2,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2,Young
4,24,54400,8.0,35000,14.27,1,0.55,4,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2,Young

In [124]:
encoded=oe.fit_transform(df2[["age_group"]])
encoded_col=oe.get_feature_names_out(["age_group"])
encoded_df=pd.DataFrame(encoded,columns=encoded_col,index=df2.index)
df3=pd.concat([df2.drop(columns=["age_group"]),encoded_df],axis=1)

In [125]:
df3.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_MORTGAGE,person_home_ownership_OTHER,...,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,cb_person_default_on_file_N,cb_person_default_on_file_Y,loan_grade_encoded,age_group_Adult,age_group_Senior,age_group_Young
0,22,59000,4.0,35000,16.02,1,0.59,3,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,3,0.0,0.0,1.0
1,21,9600,5.0,1000,11.14,0,0.10,2,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,0.0,0.0,1.0
2,25,9600,1.0,5500,12.87,1,0.57,3,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,1.0,0.0,0.0
3,23,65500,4.0,35000,15.23,1,0.53,2,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,0.0,0.0,1.0
4,24,54400,8.0,35000,14.27,1,0.55,4,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,2,0.0,0.0,1.0

In [126]:
df3["credit_utilization_rate"]=df3["loan_amnt"]/df["person_income"]

In [127]:
df3.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_MORTGAGE,person_home_ownership_OTHER,...,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,cb_person_default_on_file_N,cb_person_default_on_file_Y,loan_grade_encoded,age_group_Adult,age_group_Senior,age_group_Young,credit_utilization_rate
0,22,59000,4.0,35000,16.02,1,0.59,3,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,3,0.0,0.0,1.0,0.593220
1,21,9600,5.0,1000,11.14,0,0.10,2,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1,0.0,0.0,1.0,0.104167
2,25,9600,1.0,5500,12.87,1,0.57,3,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,2,1.0,0.0,0.0,0.572917
3,23,65500,4.0,35000,15.23,1,0.53,2,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,2,0.0,0.0,1.0,0.534351
4,24,54400,8.0,35000,14.27,1,0.55,4,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,2,0.0,0.0,1.0,0.643382

In [128]:
df3["CIB"]=df3["loan_amnt"]/(df["person_income"]*df3["cb_person_cred_hist_length"])

In [129]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      32581 non-null  int64
 1   person_income                   32581 non-null  int64
 2   person_emp_length               32581 non-null  float64
 3   loan_amnt                       32581 non-null  int64
 4   loan_int_rate                   32581 non-null  float64
 5   loan_status                     32581 non-null  int64
 6   loan_percent_income             32581 non-null  float64
 7   cb_person_cred_hist_length      32581 non-null  int64
 8   person_home_ownership_MORTGAGE  32581 non-null  float64
 9   person_home_ownership_OTHER     32581 non-null  float64
 10  person_home_ownership_OWN       32581 non-null  float64
 11  person_home_ownership_RENT      32581 non-null  float64
 12  loan_intent_DEBTCONSOLIDATION   32581 non-null  float64
 13  loan_intent_EDUCATION           32581 non-null  float64
 14  loan_intent_HOMEIMPROVEMENT     32581 non-null  float64
 15  loan_intent_MEDICAL             32581 non-null  float64
 16  loan_intent_PERSONAL            32581 non-null  float64
 17  loan_intent_VENTURE             32581 non-null  float64
 18  cb_person_default_on_file_N     32581 non-null  float64
 19  cb_person_default_on_file_Y     32581 non-null  float64
 20  loan_grade_encoded              32581 non-null  int32
 21  age_group_Adult                 32581 non-null  float64
 22  age_group_Senior                32581 non-null  float64
 23  age_group_Young                 32581 non-null  float64
 24  credit_utilization_rate         32581 non-null  float64
 25  CIB                             32581 non-null  float64
dtypes: float64(20), int32(1), int64(5)
memory usage: 6.3 MB

In [130]:
df3.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_MORTGAGE,person_home_ownership_OTHER,...,loan_intent_PERSONAL,loan_intent_VENTURE,cb_person_default_on_file_N,cb_person_default_on_file_Y,loan_grade_encoded,age_group_Adult,age_group_Senior,age_group_Young,credit_utilization_rate,CIB
0,22,59000,4.0,35000,16.02,1,0.59,3,0.0,0.0,...,1.0,0.0,0.0,1.0,3,0.0,0.0,1.0,0.593220,0.197740
1,21,9600,5.0,1000,11.14,0,0.10,2,0.0,0.0,...,0.0,0.0,1.0,0.0,1,0.0,0.0,1.0,0.104167,0.052083
2,25,9600,1.0,5500,12.87,1,0.57,3,1.0,0.0,...,0.0,0.0,1.0,0.0,2,1.0,0.0,0.0,0.572917,0.190972
3,23,65500,4.0,35000,15.23,1,0.53,2,0.0,0.0,...,0.0,0.0,1.0,0.0,2,0.0,0.0,1.0,0.534351,0.267176
4,24,54400,8.0,35000,14.27,1,0.55,4,0.0,0.0,...,0.0,0.0,0.0,1.0,2,0.0,0.0,1.0,0.643382,0.160846

In [131]:
from sklearn.model_selection import train_test_split
x=df3.drop(columns=["loan_status"])
y=df3["loan_status"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [140]:
from sklearn.linear_model import LogisticRegression
import lightgbm as lgb

In [ ]:
import numpy as np
if len(y_train.shape)>1:
   y_train=np.argmax(y_train,axis=1)
if len(y_test.shape)>1:
 y_test=np.argmax(y_test,axis=1)

In [158]:

ltg = lgb.LGBMClassifier(
    objective="binary",   
    n_estimators=500,
    learning_rate=0.05,
    max_depth=-1
)

In [160]:
ltg.fit(x_train,y_train)

[LightGBM] [Info] Number of positive: 5663, number of negative: 20401
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000651 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1448
[LightGBM] [Info] Number of data points in the train set: 26064, number of used features: 25
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.217273 -> initscore=-1.281630
[LightGBM] [Info] Start training from score -1.281630

LGBMClassifier(learning_rate=0.05, n_estimators=500, objective='binary')

In [162]:

y_pred1=ltg.predict(x_test)

In [164]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred1)

0.9350928341261316